@{
    Layout = null;
}
@if (ViewBag.Rows==0)
{
    return;
}

@foreach (var item in ViewBag.List)
{
    <div style="background:#f2f2f2;margin:10px 0;border-bottom:dashed 1px #ccc;">
        @(item.ID)<br />
        @(item.Title)<br />
        @(item.Content)<br />
        @(item.CreateTime)<br />
    </div>
}
<script type="text/javascript">
    $("#hddLastID").val(@(ViewBag.LastID));
</script>